{{ define "main" }}

<!-- if isPlain property is set -->
{{ if .Params.isPlain }}
    <div class="max-w-[55%] px-10 mx-auto">
    {{ partial "single/homepage" . }}
    </div>
<!-- elif -->
{{ else if .Params.isRedirect }}
    <div class="max-w-[55%] px-10 mx-auto">
    {{ partial "single/redirect" . }}
    </div>
{{ else }}
    <div class="bg-color"></div>
    <div class="distill-article">
        {{ partial "distill/header" . }}
        {{ partial "distill/d-front-matter" . }}
        {{ partial "distill/d-title" . }}
        {{ partial "distill/d-article" . }}
        {{ partial "distill/d-appendix" . }}
    </div>
    <div class="max-w-[55%] px-10 mx-auto">
        {{ partial "single/components/comments/comments" . }}
    </div>
{{ end }}
{{ end }}

