@tailwind base;
@tailwind components;
@tailwind utilities;


/* css colors */
:root {
  --keppel: #3fa79bff;
  --hunyadi-yellow: #edae49ff;
  --amaranth: #d1495bff;
  --alice-blue: #e8eef2ff;
  --onyx: #37393aff;
}

.bg-color:before{
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

html,
body {
  min-height: 100%;
  margin: 0;
  /* It's good practice to reset default margins */
  padding: 0;
  /* Reset default paddings as well */
}

.bg-color {
  /* resulting css */
  min-width: 100%;
  min-height: 100%;
  background: var(--alice-blue);
  position: absolute;
  /* overflow: auto; */
  /* overflow: hidden; */
}
/* 
.distill-article-entire:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 1.0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -900;
}


.distill-article-entire {
  width: 100%;
  height: 100%;
  background: var(--hunyadi-yellow);
} 
 */


.header-font {
  color: var(--keppel);
}

/* change bold styling */
.font-bold {
  font-weight: 550;
  color: var(--amaranth);
}

.list-link {
  /* font-weight: 450; */
  color: var(--onyx);
  /* var(--gray); */
}


.list-item-box {
  border: 2px solid var(--keppel);
  /* Default border color */
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
  /* Smooth transition for hover effect */
}

.list-item-box:hover {
  /* Change border color on hover */
  border-color: var(--hunyadi-yellow);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Optional: add a shadow effect on hover */
}

.list-item-box .list-link,
.list-item-box .list-link a {
  color: inherit;
  /* Inherit text color */
  transition: color 0.3s ease;
  /* Smooth transition for text color */
}

.list-item-box:hover .list-link,
.list-item-box:hover .list-link a {
  color: var(--amaranth);
  transition: color 0.3s ease;
  /* Change text color to red */
  text-decoration: none;
  /* Remove underline */
}

blockquote {
  font-size: 6 !important;
}

strong {
  color: var(--amaranth);
}

.secondary-font {
  color: var(--hunyadi-yellow);
}

.secondary-font-dimmed {
  color: var(--hunyadi-yellow);
  opacity: 0.7;
}

.title-line {
  border: 0;
  border-bottom: 2px solid ;
  color: var(--keppel);
  margin: 0;
  margin-bottom: 1rem;
  padding-top: 0rem;
}

@layer base {
  /* inter-100 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: local(''),
         url('../fonts/inter-v12-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-200 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: local(''),
         url('../fonts/inter-v12-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-300 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: local(''),
         url('../fonts/inter-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local(''),
         url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local(''),
         url('../fonts/inter-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: local(''),
         url('../fonts/inter-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: local(''),
         url('../fonts/inter-v12-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

@layer utilities {
    .content a {
        @apply font-bold underline;
    }

    .content p, .content hr, .content pre, .content dl {
      @apply mb-5;
    }

    .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
      @apply font-bold text-gray-900 mb-5 pt-2;
    }

    .content h1 {
      @apply text-4xl leading-10;
    }

    .content h2 {
      @apply text-3xl leading-10;
    }

    .content h3 {
      @apply text-2xl;
    }

    .content h4 {
      @apply text-xl;
    }

    .content h5 {
      @apply text-lg;
    }

    .content h6 {
      @apply text-base;
    }

    .content blockquote {
      @apply text-base text-gray-500 px-6 pt-6 pb-3 mt-5 mb-3 rounded-lg border
    }

    .content ol, .content ul {
      @apply grid gap-2 mb-5 ml-6;
    }

    .content .footnotes ol {
      @apply block
    }

    .content .footnotes li {
      @apply mb-3
    }

    .content ol {
      @apply list-decimal
    }

    .content ul {
      @apply list-disc
    }
    
    .content code {
      @apply px-2 py-1 bg-gray-100 border rounded-lg;
    }

    .content code.language-text, .highlight code {
      @apply px-0
    }

    .content table {
      @apply w-full border rounded-lg border-separate border-spacing-0 mb-5;
    }

    .content thead th {
      @apply border-b-2 border-r last:border-r-0 py-2 px-3;
    }

    .content tbody td {
      @apply py-2 px-3 border-b text-base border-r last:border-r-0;
    }

    .content tbody tr:last-child td {
      @apply border-b-0
    }

    .content pre {
      @apply rounded-lg border p-5 overflow-auto
    }

    .content pre code {
      @apply bg-transparent border-0
    }

    .content .footnotes {
      @apply text-sm
    }
    .content .footnotes p {
      @apply inline-block mb-0
    }

    .content dt {
      @apply font-bold italic
    }

    

    .content dd {
      @apply pl-10
    }

    span.begin-task-list + ul {
      list-style: none;
    }
    .taxonomy-list {
      @apply flex flex-row flex-wrap gap-x-2 gap-y-6;
    }
    .tags-list {
      @apply gap-y-2;
    }
}
