{{ if .Params.external_link  }}
<!-- If 'only_link' is defined, display just an external link -->
<a href="{{ .Params.external_link }}" target="_blank" rel="noopener noreferrer" class="list-item-link">
    <article class="flex flex-col gap-1 list-item-box">
        <h1 class="text-xl list-link">{{ .Title }}</h1>
        <div class="text-gray-600">
    {{ if .Params.description }}
    {{ .Params.description }}
    {{ else if .Summary }}
    {{ .Summary }}
    {{ end }}
    </div>
    <div class="mt-2 text-gray-800 list-link"><em>External Link</em></div>
</article>
</a>
{{ else }}
<a href=" {{ .Permalink }} " class="list-item-link">
    <article class="flex flex-col gap-1 list-item-box">
    <h1 class="text-xl list-link">{{ .Title }}</h1>
    
    <div class="text-gray-600">
    {{ if .Params.description }}
    {{ .Params.description }}    
    {{ else if .Summary  }}k
    {{ .Summary }}
    {{ end }}
    </div>
    <div class="mt-2 text-gray-800 list-link"><em>Blog Post</em></div>
</article>
</a>
{{ end }}